{
  "Bob": [
    {
      "monday": "18:30:00",
      "tuesday": "19:30:00",
      "wednesday": "18:30:00"
    }
  ],
  "Alice": [
    {
      "monday": "18:30:00",
      "tuesday": "19:30:00",
      "wednesday": "18:30:00"
    }
  ]
}